  header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 100%;
    width: 100%;
  }
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.has-border {
  font-size: .9rem;
}

button {
  grid-column: 1/4;
}
#profile-pic {
  grid-column: 1/4;
}