* {
    box-sizing: border-box
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
    background-color: #666
    padding: 30px;
    text-align: center;
    font size: 35px;
    color: #black;
}
p.hidden {border-style: hidden;
background-color: lightgray}
.right{
    float:right;
}
.left{
    float:left;
}
div {
    margin: 70px;
  }